.page.theme_light {
  --font-family: 'IBM Plex mono';
  --cover-image: url(../images/cover-image-light.png);
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-text: #353430;
  --title-color: #ffc2e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-family: 'IBM Plex mono';
    --cover-image: url(../images/cover-image-light.png);
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-text: #353430;
    --title-color: #ffc2e6;
    --bulb-show: none;
  }
}

.theme_light.page{
  background-image: var(--cover-image);
}
